
ul{
    display: flex;
}
li{
    list-style-type: none;
    padding-right: 10px;
}
table{
    margin-top: 40px;
    max-width: 500px;
}
.todo{
    max-width: 550px;
    margin: 0 auto;
    margin-top: 96px;
    background: aliceblue;
    padding: 41px;
}